<template>
	<header class="site-header">
		<div class="container">
			<button
				class="btn btn--black80 btn--large btn--icon toggle-sidebar"
				@click="toggleSidebar"
			>
				<i class="fas fa-bars"></i>
			</button>
			<logo width="30" height="30" />
			<h1 class="title">Suitbaze</h1>
		</div>
		<div class="git-container">
			<a
				href="https://github.com"
				target="_blank"
				rel="noopener noreferrer"
				class="header-link"
			>
				<i class="fab fa-github"></i>
			</a>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderComponent',
	methods: {
		toggleSidebar() {
			this.$root.$emit('toggle-sidebar')
		}
	}
}
</script>

<style lang="scss">
.btn--large.btn--icon {
	width: 54px;
	height: 100%;
	padding: 0;
	font-size: 16px;
}

.site-header {
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	height: 100%;
	background-color: #ff6701;
	height: 60px;
	box-shadow: 0px 3px 4px rgba($black, 0.15);

	.title {
		font-size: 30px;
	}

	.fab {
		font-size: 30px;
		color: white;

		&:hover {
			color: $black20;
		}
	}

	.container {
		display: flex;
		align-items: center;
		margin: 0;
		h1 {
			margin: 0;
			color: white;
		}
	}

	.git-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex: 1;
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	@media #{$large} {
		height: 70px;
	}
}
</style>
