@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/modules';
@import 'plugins/vue-slick';

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black80;
	background-color: #fff;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

.color-inherit {
	&:hover,
	&:focus {
		color: inherit !important;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-main {
	display: flex;
	padding: 0;
	margin-left: 215px;
	padding-top: 120px;

	&.header-overlap {
		margin-top: 0;
	}

	@media screen and (max-width: 768px) {
		margin-left: 0;
	}

	@media screen and (max-width: 1024px) {
		padding-top: 70px;
	}
}

.site-footer {
	display: flex;
	padding: 0;
	margin-left: 215px;

	&.header-overlap {
		margin-top: 0;
	}

	@media screen and (max-width: 768px) {
		margin-left: 0;
	}

	@media screen and (max-width: 1024px) {
		padding-top: 70px;
	}
}

.container-main {
	// display: table;
	flex-direction: column;
	flex: 1 1 auto;
	width: 80%;
}

.container-content {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
}

.site-sidebar {
	background-color: #fff;
	display: block;
	width: 215px;
	padding-top: 13px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	flex: 0 0 auto;
	color: #000;
	border: 1px solid #ddd;
	z-index: 2;
}


.sidebar {
	@media screen and (max-width: 767px) {
		display: none;

		&.--show {
			display: block;
			transition: all 0.3s ease;
			
			.sidebar-overlay {
				position: fixed;
				top: 0;
				z-index: 2;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				overflow: auto;
			}
		}

		.sidebar-overlay {
			display: none;
		}
	}
}

.link {
	color: #4d4d4d;
	&:hover {
		color: #000;
	}
}

.site-sidebar div {
	padding: 10px 10px 10px 24px;
	width: auto;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.site-sidebar div:hover {
	color: #000;

	.link {
		color: #000;
	}
}

.site-sidebar .selected {
	background-color: #ddd;

	.link {
		color: #000;
		font-weight: 600;
	}
}

p, ul, ol, hr, table {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 1em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
	color: #be4678;
}

.hljs-string {
	color: #2a9292;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;
	padding: 0.5em;
	margin: 20px 0;
}

.page-enter-active,
.page-leave-active {
	opacity: 1;
	transition: opacity 0.2s;
	will-change: opacity;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

.title {
	color: #ff6700;
}

.btn--black80 {
    color: #fff;
    background: #333333;
    border-color: #333333;
}

.btn--icon {
    width: 44px;
    height: 44px;
    padding: 0;
    font-size: 16px;
}

.btn--large {
    padding: 10px 28px;
    font-size: 20px;
}

.btn--large.btn--icon {
    width: 54px;
    height: 54px;
    padding: 0;
    font-size: 16px;
}

.toggle-sidebar {
	margin-right: 30px;
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}

	// if the sidebar is checked, hide the toggle button
	
}

.text-primary {
	color: #0094ed;
}

.text-secondary {
	color: #76848c;
}

.text-warning {
	color: #ffae00;
}

.text-danger {
	color: #f0210b;
}

.text-black {
	color: black;
}

.text-light-grey {
	color: #d3d3d3;
}

.text-white {
	color: white;
}

.link-primary {
	color: #0094ed;
}

.link-secondary {
	color: #76848c;
}

.link-warning {
	color: #ffae00;
}

.link-danger {
	color: #f0210b;
}

.link-black {
	color: black;
}

.link-light-grey {
	color: #d3d3d3;
}

.link-white {
	color: white;
}

.text-black10 {
	color: #e6e6e6;
}

.text-black20 {
	color: #cccccc;
}

.text-black30 {
	color: #b3b3b3;
}

.text-black40 {
	color: #999999;
}

.text-black50 {
	color: #808080;
}

.text-black60 {
	color: #666666;
}

.text-black70 {
	color: #4d4d4d;
}

.text-black80 {
	color: #333333;
}

.text-black90 {
	color: #1a1a1a;
}

.text-black {
	color: black;
}

.bg-black10 {
	background: #e6e6e6;
}

.bg-black20 {
	background: #cccccc;
}

.bg-black30 {
	background: #b3b3b3;
}

.bg-black40 {
	background: #999999;
}

.bg-black50 {
	background: #808080;
}

.bg-black60 {
	background: #666666;
}

.bg-black70 {
	background: #4d4d4d;
}

.bg-black80 {
	background: #333333;
}

.bg-black90 {
	background: #1a1a1a;
}

.bg-black {
	background: black;
}

.bg-primary {
	background: #0094ed;
}

.bg-secondary {
	background: #76848c;
}

.bg-warning {
	background: #ffae00;
}

.bg-danger {
	background: #f0210b;
}

.bg-black {
	background: black;
}

.bg-light-grey {
	background: #d3d3d3;
}

.bg-white {
	background: white;
}

.alert {
	position: relative;
	padding: 8px 16px;
	border: 1px solid;
	margin: 15px 0;
	font-family: inherit;
	line-height: 1.6;
	vertical-align: middle;
	background-color: #f0f0f0;
}

.alert--primary,
.alert--secondary,
.alert--warning,
.alert--danger,
.alert--black,
.alert--light-grey,
.alert--white {
	@extend .alert;
}

.alert--primary {
	color: #0094ed;
	background: #91d6ff;
}

.alert--secondary {
	color: #76848c;
	background: #cfd4d6;
}

.alert--warning {
	color: #ffae00;
	background: #ffe2a3;
}

.alert--danger {
	color: #f0210b;
	background: #fbaca3;
}

.alert--black {
	color: #000;
	background: #525252;
}

.alert--light-grey {
	color: #a0a0a0;
	background: #d3d3d3;
}

.alert--white {
	color: #cccccc;
	background: #fff;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;
	padding: 0.5em;
	margin: 20px 0;
}

.alert--popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;

	&.active {
		display: block;
	}

	&-content {
		width: 80%;
		margin: auto;

		& .js-alert-close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
	}
}

.btn--primary {
	display: inline-block;
	padding: 8px 24px;
	border-radius: 0px;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #0094ed;
	color: #fff;

	&:hover {
		background-color: #21acff;
	}
}

.js-trigger-alert {
	margin-right: 10px;
	margin-bottom: 10px;
}

.card-group {
	display: flex;
	align-items: stretch;
	flex-flow: column wrap;
	flex: 1 0 0%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 12px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.card--primary {
	&.card--header {
		border-color: #003454;
		background: #0d64a1;
		color: #fff;
	}
}

.card--secondary {
	&.card--header {
		border-color: #303639;
		background: #535d63;
		color: #fff;
	}
}
.card {
	display: flex;
	flex-direction: column;
	border: 1px solid #003454;
	background: #ffffff;
	color: #000;
}

.card--primary {
	display: flex;
	flex-direction: column;
	border: 1px solid #003454;
	background: #0094ed;
	color: #fff;
}

.card--secondary {
	display: flex;
	flex-direction: column;
	border: 1px solid #303639;
	background: #76848c;
	color: #fff;
}

.card--light-grey {
	display: flex;
	flex-direction: column;
	border: 1px solid #878787;
	background: #d3d3d3;
	color: #000;
}

.card--primary .card--header,
.card--primary .card--footer {
	border-color: #003454;
	background: #0064a1;
}

.card--secondary .card--header,
.card--secondary .card--footer {
	border-color: #303639;
	background: #535d63;
	color: #fff;
}

.card--light-grey .card--header,
.card--light-grey .card--footer {
	border-color: #878787;
	background: #adadad;
	color: #000;
}

.card .card--header,
.card .card--footer {
	border-color: #878787;
	background: #adadad;
	color: #000;
	text-shadow: none;
}

.card--header {
	border-bottom: 1px solid;
}

.card .card--header,
.card--suitmedia .card--header,
.card--primary .card--header,
.card--secondary .card--header,
.card--warning .card--header,
.card--danger .card--header,
.card--black .card--header,
.card--light-grey .card--header,
.card--white .card--header,
.card .card--body,
.card--suitmedia .card--body,
.card--primary .card--body,
.card--secondary .card--body,
.card--warning .card--body,
.card--danger .card--body,
.card--black .card--body,
.card--light-grey .card--body,
.card--white .card--body,
.card .card--footer,
.card--suitmedia .card--footer,
.card--primary .card--footer,
.card--secondary .card--footer,
.card--warning .card--footer,
.card--danger .card--footer,
.card--black .card--footer,
.card--light-grey .card--footer,
.card--white .card--footer {
	padding: 8px 16px;
}

.card--image {
	overflow: clip;
}

.card--body {
	flex: 1 1 auto;
}

.media-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}

figure {
	margin: 0 0 1.6em 0;
}

.media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.card--image {
    width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
