<template>
	<footer class="site-footer">
		<div class="container-main">
			<div class="container-content">
				<hr />
				<p>2019 | Suitmedia</p>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'FooterPage'
}
</script>

<style lang="scss" scoped></style>
