<template>
	<div class="site-sidebar">
		<div
			v-for="(menu, i) in menusData.data"
			:key="i"
			class="menu-item"
			:class="{ selected: selectedMenu === i }"
			@click="selectMenu(i)"
		>
			<nuxt-link :to="menu.url" class="link">{{ menu.title }}</nuxt-link>
		</div>
	</div>
</template>

<script>
import menusData from '~/static/json/menus.json'
export default {
	name: 'SidebarComponent',
	data() {
		return {
			menusData,
			selectedMenu: null
		}
	},
	methods: {
		selectMenu(index) {
			this.selectedMenu = index
		}
	}
}
</script>
