<template>
	<div id="app" class="sticky-footer-container">
		<div v-if="isNotMainRoute" class="sticky-footer-container-item">
			<Header />
		</div>
		<div class="sticky-footer-container-item --pushed">
			<div
				v-if="isNotMainRoute || showSidebar"
				class="sidebar"
				:class="{ '--show': showSidebar }"
			>
				<div class="sidebar-overlay"></div>
				<Sidebar />
			</div>
			<router-view />
		</div>
		<div v-if="isNotMainRoute" class="sticky-footer-container-item">
			<Footer />
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	data() {
		return {
			showSidebar: false
		}
	},
	head() {
		if (this.isNotMainRoute) {
			return {
				link: [
					{
						rel: 'canonical',
						href: process.env.BASE_URL + this.$route.path
					}
				]
			}
		}
	},
	computed: {
		isNotMainRoute() {
			return this.$route.path !== '/'
		}
	},
	created() {
		this.$root.$on('toggle-sidebar', this.toggleSidebar)
	},
	methods: {
		toggleSidebar() {
			this.showSidebar = !this.showSidebar
		}
	}
}
</script>
