<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Alert</h2>
				</div>
				<div class="content">
					<div class="alert">Alert default</div>
					<div class="alert--primary">Alert primary</div>
					<div class="alert--secondary">Alert secondary</div>
					<div class="alert--warning">Alert warning</div>
					<div class="alert--danger">Alert danger</div>
					<div class="alert--black">Alert black</div>
					<div class="alert--light-grey">Alert light-grey</div>
					<div class="alert--white">Alert white</div>
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert"</span>&gt;</span>Alert default<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--primary"</span>&gt;</span>Alert primary<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--secondary"</span>&gt;</span>Alert secondary<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--warning"</span>&gt;</span>Alert warning<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--danger"</span>&gt;</span>Alert danger<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--black"</span>&gt;</span>Alert black<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--light-grey"</span>&gt;</span>Alert light-grey<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--white"</span>&gt;</span>Alert white<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
					</pre>
					<hr />
				</div>
				<div class="title">
					<h2>Alert Box</h2>
				</div>
				<div class="content">
					<button
						class="btn--primary js-trigger-alert"
						@click="showAlert('alert1')"
					>
						Alert 1
					</button>
					<button
						class="btn--primary js-trigger-alert"
						@click="showAlert('alert2')"
					>
						Alert 2
					</button>

					<div
						v-if="activeAlert === 'alert1'"
						id="alert1"
						class="alert--popup active"
					>
						<div class="alert--primary alert--popup-content">
							<span class="alert--close js-alert-close" @click="closeAlert"
								><i class="fas fa-times"></i
							></span>
							<h4>Lorem Ipsum!</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<hr />
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
								qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque
								voluptate molestiae in quia quos quam tempora sequi illo
								molestias? Rerum, sit?
							</p>
						</div>
					</div>

					<div
						v-if="activeAlert === 'alert2'"
						id="alert2"
						class="alert--popup active"
					>
						<div class="alert--danger alert--popup-content">
							<span class="alert--close js-alert-close" @click="closeAlert"
								><i class="fas fa-times"></i
							></span>
							<h4>Number 2</h4>
							<p>Test Number 2</p>
						</div>
					</div>
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">v-if</span>=<span class="hljs-string">"activeAlert === 'alert1'"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"alert1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--popup active"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--primary alert--popup-content"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--close js-alert-close"</span> <span class="hljs-attr">@click</span>=<span class="hljs-string">"closeAlert"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-times"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Lorem Ipsum!<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;hr /&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">v-if</span>=<span class="hljs-string">"activeAlert === 'alert2'"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"alert2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--popup active"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--danger alert--popup-content"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--close js-alert-close"</span> <span class="hljs-attr">@click</span>=<span class="hljs-string">"closeAlert"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-times"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Number 2<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Test Number 2<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary js-trigger-alert"</span> <span class="hljs-attr">@click</span>=<span class="hljs-string">"showAlert('alert1')"</span><span class="hljs-tag">&gt;</span>Alert 1<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary js-trigger-alert"</span> <span class="hljs-attr">@click</span>=<span class="hljs-string">"showAlert('alert2')"</span><span class="hljs-tag">&gt;</span>Alert 2<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code>
</pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'AlertPage',
	data() {
		return {
			activeAlert: null
		}
	},
	methods: {
		showAlert(alertId) {
			this.activeAlert = alertId
		},
		closeAlert() {
			this.activeAlert = null
		}
	}
}
</script>
