<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Buttons</h2>
				</div>
				<div class="content">
					<p>
						<button class="btn--primary">Button Color</button>
						<button class="btn--ghost-primary">Button Color</button>
						<button class="btn--flat-primary">Button Color</button>
					</p>
					<p>
						<button class="btn--secondary">Button Color</button>
						<button class="btn--ghost-secondary">Button Color</button>
						<button class="btn--flat-secondary">Button Color</button>
					</p>
					<p>
						<button class="btn--warning">Button Color</button>
						<button class="btn--ghost-warning">Button Color</button>
						<button class="btn--flat-warning">Button Color</button>
					</p>
					<p>
						<button class="btn--danger">Button Color</button>
						<button class="btn--ghost-danger">Button Color</button>
						<button class="btn--flat-danger">Button Color</button>
					</p>
					<p>
						<button class="btn--black">Button Color</button>
						<button class="btn--ghost-black">Button Color</button>
						<button class="btn--flat-black">Button Color</button>
					</p>
					<p>
						<button class="btn--light-grey">Button Color</button>
						<button class="btn--ghost-light-grey">Button Color</button>
						<button class="btn--flat-light-grey">Button Color</button>
					</p>
					<p>
						<button class="btn--white">Button Color</button>
						<button class="btn--ghost-white">Button Color</button>
						<button class="btn--flat-white">Button Color</button>
					</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-primary"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-primary"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--secondary"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-secondary"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-secondary"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--warning"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-warning"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-warning"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--danger"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-danger"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-danger"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--black"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-black"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-black"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--light-grey"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-light-grey"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-light-grey"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--white"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-white"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-white"</span>&gt;</span>Button Color<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
					<hr />
				</div>
				<div class="title">
					<h2>Buttons Sizing</h2>
				</div>
				<div class="content">
					<p>
						<button class="btn--primary btn--small">Small Button</button>
						<button class="btn--ghost-primary btn--small">Small Button</button>
						<button class="btn--flat-primary btn--small">Small Button</button>
					</p>
					<p>
						<button class="btn--primary">Normal Button</button>
						<button class="btn--ghost-primary">Normal Button</button>
						<button class="btn--flat-primary">Normal Button</button>
					</p>
					<p>
						<button class="btn--primary btn--large">Large Button</button>
						<button class="btn--ghost-primary btn--large">Large Button</button>
						<button class="btn--flat-primary btn--large">Large Button</button>
					</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary btn--small"</span>&gt;</span>Small Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-primary btn--small"</span>&gt;</span>Small Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-primary btn--small"</span>&gt;</span>Small Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary"</span>&gt;</span>Normal Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-primary"</span>&gt;</span>Normal Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-primary"</span>&gt;</span>Normal Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary btn--large"</span>&gt;</span>Large Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-primary btn--large"</span>&gt;</span>Large Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-primary btn--large"</span>&gt;</span>Large Button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
					<hr />
				</div>
				<div class="title">
					<h2>Icon-only Buttons</h2>
				</div>
				<div class="content">
					<p>
						<button class="btn--primary btn--small btn--icon">
							<i class="fas fa-search fa-sm"></i>
						</button>
						<button class="btn--ghost-black btn--small btn--icon">
							<i class="fas fa-times fa-sm"></i>
						</button>
						<button class="btn--flat-light-grey btn--small btn--icon">
							<i class="fas fa-user fa-sm"></i>
						</button>
					</p>
					<p>
						<button class="btn--primary btn--icon">
							<i class="fas fa-user"></i>
						</button>
						<button class="btn--ghost-black btn--icon">
							<i class="fas fa-search"></i>
						</button>
						<button class="btn--flat-light-grey btn--icon">
							<i class="fas fa-times"></i>
						</button>
					</p>
					<p>
						<button class="btn--primary btn--large btn--icon">
							<i class="fas fa-times fa-lg"></i>
						</button>
						<button class="btn--ghost-black btn--large btn--icon">
							<i class="fas fa-user fa-lg"></i>
						</button>
						<button class="btn--flat-light-grey btn--large btn--icon">
							<i class="fas fa-search fa-lg"></i>
						</button>
					</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary btn--small btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-search fa-sm"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-black btn--small btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-times fa-sm"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-light-grey btn--small btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-user fa-sm"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-user"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-black btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-search"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-light-grey btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-times"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary btn--large btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-times fa-lg"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--ghost-black btn--large btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-user fa-lg"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--flat-light-grey btn--large btn--icon"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-search fa-lg"</span>&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
					<hr />
				</div>
				<div class="title">
					<h2>Icon + Text Buttons</h2>
				</div>
				<div class="content">
					<p>
						<button class="btn--primary btn--small">
							Search <i class="fas fa-search"></i>
						</button>
						<button class="btn--ghost-black btn--small">
							<i class="fas fa-times"></i> Cancel
						</button>
						<button class="btn--flat-light-grey btn--small">
							Profile <i class="fas fa-user"></i>
						</button>
					</p>
					<p>
						<button class="btn--primary">
							<i class="fas fa-user"></i> Profile
						</button>
						<button class="btn--ghost-black">
							Search <i class="fas fa-search"></i>
						</button>
						<button class="btn--flat-light-grey">
							<i class="fas fa-times"></i> Cancel
						</button>
					</p>
					<p>
						<button class="btn--primary btn--large">
							Cancel <i class="fas fa-times"></i>
						</button>
						<button class="btn--ghost-black btn--large">
							<i class="fas fa-user"></i> Profile
						</button>
						<button class="btn--flat-light-grey btn--large">
							<i class="fas fa-search"></i> Search
						</button>
					</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--primary btn--small"&gt;</span>Search <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-search"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--ghost-black btn--small"&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-times"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span> Cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--flat-light-grey btn--small"&gt;</span>Profile <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-user"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--primary"&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-user"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span> Profile<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--ghost-black"&gt;</span>Search <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-search"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--flat-light-grey"&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-times"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span> Cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--primary btn--large"&gt;</span>Cancel <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-times"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--ghost-black btn--large"&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-user"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span> Profile<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>="btn--flat-light-grey btn--large"&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>="fas fa-search"&gt;&lt;/<span class="hljs-name">i</span>&gt;</span> Search<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'ButtonsPage'
}
</script>

<style lang="scss" scoped>
.btn {
	display: inline-block;
	font-family: inherit;
	line-height: 1.6;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: 8px 24px;
	border-radius: 0px;
	cursor: pointer;
	border: 1px solid transparent;

	&:hover {
		background-color: #e6e6e6;
	}
}

.btn--small {
	padding: 4px 12px;
	font-size: 15px;
}

.btn--small.btn--icon {
	width: 34px;
	height: 34px;
	padding: 0;
	font-size: 16px;
}

.btn--large.btn--icon {
	width: 54px;
	height: 54px;
	padding: 0;
	font-size: 16px;
}

.btn--icon {
	width: 44px;
	height: 44px;
	padding: 0;
	font-size: 16px;
}

.btn--large {
	padding: 10px 28px;
	font-size: 20px;

	.btn--icon {
		width: 54px;
		height: 54px;
		padding: 0;
		font-size: 16px;
	}
}

.btn--primary {
	@extend .btn;
	background-color: #0094ed;
	border-color: #0094ed;

	&:hover {
		background-color: #21acff;
	}
}

.btn--secondary,
.btn--warning,
.btn--danger,
.btn--black,
.btn--light-grey,
.btn--white {
	@extend .btn;
}

.btn--secondary {
	background-color: #76848c;
	border-color: #76848c;
	color: #fff;

	&:hover {
		background-color: #929da3;
	}
}

.btn--warning {
	background-color: #ffae00;
	border-color: #ffae00;
	color: #fff;

	&:hover {
		background-color: #ffbe33;
	}
}

.btn--danger {
	background-color: #f0210b;
	border-color: #f0210b;
	color: #fff;

	&:hover {
		background-color: #f64a38;
	}
}

.btn--black {
	background-color: #000;
	border-color: #000;
	color: #fff;

	&:hover {
		background-color: #1a1a1a;
	}
}

.btn--light-grey {
	background-color: #d3d3d3;
	border-color: #bcbcbc;
	color: #333333;

	&:hover {
		background-color: #bcbcbc;
	}
}

.btn--white {
	background-color: #fff;
	border-color: #e8e8e8;
	color: #333333;

	&:hover {
		background-color: #e8e8e8;
	}
}

.btn--ghost-primary,
.btn--ghost-secondary,
.btn--ghost-warning,
.btn--ghost-danger,
.btn--ghost-black,
.btn--ghost-light-grey,
.btn--ghost-white {
	@extend .btn;
	background-color: transparent;
	border-color: #e8e8e8;
	color: #e8e8e8;

	&:hover {
		background-color: #fff;
		color: #333333;
	}
}

.btn--ghost-primary {
	color: #0094ed;
	border-color: #0094ed;

	&:hover {
		background-color: #0094ed;
		color: #fff;
	}
}

.btn--ghost-secondary {
	color: #76848c;
	border-color: #76848c;
	background: transparent;

	&:hover {
		color: #fff;
		background: #76848c;
	}
}

.btn--ghost-warning {
	background: transparent;
	border-color: #ffae00;
	color: #ffae00;

	&:hover {
		color: #fff;
		background: #ffae00;
	}
}

.btn--ghost-danger {
	background: transparent;
	border-color: #f0210b;
	color: #f0210b;

	&:hover {
		color: #fff;
		background: #f0210b;
	}
}

.btn--ghost-black {
	background: transparent;
	border-color: #000;
	color: #000;

	&:hover {
		color: #fff;
		background: #000;
	}
}

.btn--ghost-light-grey {
	background: transparent;
	border-color: #bcbcbc;
	color: #bcbcbc;

	&:hover {
		color: #333333;
		background: #d3d3d3;
	}
}

.btn--flat-primary,
.btn--flat-secondary,
.btn--flat-warning,
.btn--flat-danger,
.btn--flat-black,
.btn--flat-light-grey,
.btn--flat-white {
	@extend .btn;
	border-color: transparent;
	background: transparent;
	color: #e8e8e8;

	&:hover {
		color: #fff;
		background: #e6e6e6;
	}
}

.btn--flat-primary {
	color: #0094ed;

	&:hover {
		background-color: #e6e6e6;
		color: #0094ed;
	}
}

.btn--flat-secondary {
	border-color: transparent;
	background: transparent;
	color: #76848c;

	&:hover {
		color: #76848c;
		background: #e6e6e6;
	}
}

.btn--flat-warning {
	border-color: transparent;
	background: transparent;
	color: #ffae00;

	&:hover {
		color: #ffae00;
		background: #e6e6e6;
	}
}

.btn--flat-danger {
	border-color: transparent;
	background: transparent;
	color: #f0210b;

	&:hover {
		color: #f0210b;
		background: #e6e6e6;
	}
}

.btn--flat-black {
	border-color: transparent;
	background: transparent;
	color: #000;

	&:hover {
		color: #000;
		background: #e6e6e6;
	}
}

.btn--flat-light-grey {
	border-color: transparent;
	background: transparent;
	color: #bcbcbc;

	&:hover {
		color: #d3d3d3;
		background: #e6e6e6;
	}
}
</style>
