<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Flex Card</h2>
				</div>
				<div class="content">
					<div class="card-group">
						<div class="card--primary mb-12">
							<div class="card--header">Card header</div>
							<img
								class="card--image"
								src="~assets/img/site-logo.png"
								alt=""
								width="267"
								height="267"
							/>
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									Dignissimos quia consectetur quibusdam repudiandae!
								</p>
							</div>
							<div class="card--footer">Card footer</div>
						</div>
						<div class="card--secondary mb-12">
							<div class="card--header">Card header</div>
							<img
								class="card--image"
								src="~assets/img/site-logo.png"
								width="267"
								height="267"
								alt=""
							/>
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Duis aute
									irure dolor in reprehenderit in voluptate velit esse cillum
									dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum.
								</p>
							</div>
							<div class="card--footer">Card footer</div>
						</div>
						<div class="card--light-grey mb-12">
							<div class="card--header">Card header</div>
							<img
								class="card--image"
								src="~assets/img/site-logo.png"
								width="267"
								height="267"
								alt=""
							/>
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
									veniam rerum nihil laboriosam, architecto sequi dolor
									doloribus impedit totam voluptatibus earum vel exercitationem
									quas commodi. Quidem, fugit corrupti beatae accusantium!
								</p>
							</div>
						</div>
						<div class="card mb-12">
							<img
								class="card--image"
								src="~assets/img/site-logo.png"
								width="267"
								height="267"
								alt=""
							/>
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
									veniam rerum nihil laboriosam, architecto sequi dolor
									doloribus impedit totam voluptatibus earum vel exercitationem
									quas commodi. Quidem, fugit corrupti beatae accusantium!
								</p>
							</div>
							<div class="card--footer">Card footer</div>
						</div>
					</div>
					<pre>
	<code class="html xml hljs"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-group"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--primary"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>Card header<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"~assets/img/site-logo.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"267"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"267"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dignissimos quia consectetur quibusdam repudiandae!
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>Card footer<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--secondary"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>Card header<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"~assets/img/site-logo.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"267"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"267"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ut enim ad minim veniam, quis nostrud exercitation ullamco
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;laboris nisi ut aliquip ex ea commodo consequat. Duis aute
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;irure dolor in reprehenderit in voluptate velit esse cillum
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolore eu fugiat nulla pariatur. Excepteur sint occaecat
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cupidatat non proident, sunt in culpa qui officia deserunt
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mollit anim id est laborum.
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>Card footer<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--light-grey"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>Card header<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"~assets/img/site-logo.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"267"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"267"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;veniam rerum nihil laboriosam, architecto sequi dolor
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;doloribus impedit totam voluptatibus earum vel exercitationem
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;quas commodi. Quidem, fugit corrupti beatae accusantium!
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"~assets/img/site-logo.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"267"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"267"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;veniam rerum nihil laboriosam, architecto sequi dolor
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;doloribus impedit totam voluptatibus earum vel exercitationem
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;quas commodi. Quidem, fugit corrupti beatae accusantium!
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>Card footer<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>

					</pre>
					<hr />
				</div>
				<div class="title">
					<h2>Baze Grid Card</h2>
				</div>
				<div class="content">
					<div class="bzg bzg--flex card-group js-card">
						<div v-for="item in dummyData" :key="item.id" class="bzg_c mb-24">
							<div class="card--primary">
								<div class="card--header">{{ item.header }}</div>
								<a :href="item.url"
									><img class="card--image" :src="item.image" :alt="item.title"
								/></a>
								<div class="card--body">
									<h5>{{ item.title }}</h5>
									<p class="text-right">{{ item.date }}</p>
									<p class="mb-0">{{ item.description }}</p>
								</div>
								<div class="card--footer">{{ item.footer }}</div>
							</div>
						</div>
					</div>
					<pre>
	<code class="html xml hljs"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">v-for</span>=<span class="hljs-string">"item in dummyData"</span> <span class="hljs-attr">:key</span>=<span class="hljs-string">"item.id"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c mb-24"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--primary"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>header<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">:href</span>=<span class="hljs-string">"item.url"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">:src</span>=<span class="hljs-string">"item.image"</span> <span class="hljs-attr">:alt</span>=<span class="hljs-string">"item.title"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>title<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-right"</span>&gt;</span>date<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>description<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>footer<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
	</pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'CardPages',
	data() {
		return {
			dummyData: [
				{
					id: '35cb01ef798c35fa8fa54ceff',
					image: '//via.placeholder.com/180?text=30',
					url: '#',
					title: 'Fields Mcconnell',
					description:
						'Ullamco dolore minim culpa est non aliqua labore adipisicing commodo veniam magna culpa.',
					date: '2019/03/20 05:59:30',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef71013e765980c17ee',
					image: '//via.placeholder.com/180?text=31',
					url: '#',
					title: 'Iris Carr',
					description:
						'Occaecat officia ex pariatur duis sint ullamco ut cupidatat qui irure ullamco exercitation magna.',
					date: '2019/03/28 04:24:46',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef72cb4bbf69bc39ce5',
					image: '//via.placeholder.com/180?text=32',
					url: '#',
					title: 'Oneil Larson',
					description:
						'Sit officia anim cupidatat cupidatat occaecat culpa ut.',
					date: '2019/03/13 11:12:16',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef708ce83cf2fd135cb',
					image: '//via.placeholder.com/180?text=33',
					url: '#',
					title: 'White Lowe',
					description: 'Occaecat consectetur eiusmod incididunt esse dolore.',
					date: '2019/03/22 07:26:40',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef73adad6ce57fc1308',
					image: '//via.placeholder.com/180?text=34',
					url: '#',
					title: 'Marie Hernandez',
					description:
						'Lorem elit nisi non ea cupidatat tempor laborum aliqua exercitation.',
					date: '2019/03/12 04:43:12',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef72936c2582deb0c42',
					image: '//via.placeholder.com/180?text=35',
					url: '#',
					title: 'Larson Powers',
					description:
						'Irure adipisicing id magna eiusmod magna id dolor esse velit.',
					date: '2019/04/03 05:36:02',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef76ee7c0a62a6c5554',
					image: '//via.placeholder.com/180?text=36',
					url: '#',
					title: 'Tami Wood',
					description:
						'Minim pariatur irure cillum culpa cupidatat qui commodo amet.',
					date: '2019/03/24 11:48:45',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef7c7c17a4a0d917a3a',
					image: '//via.placeholder.com/180?text=37',
					url: '#',
					title: 'Gaines Hewitt',
					description:
						'Pariatur sit tempor laborum amet nisi enim consequat voluptate.',
					date: '2019/03/31 03:44:11',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef793a6d0333c6c8990',
					image: '//via.placeholder.com/180?text=38',
					url: '#',
					title: 'Johanna Sargent',
					description:
						'Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.',
					date: '2019/02/14 04:43:38',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef770ea4fc52ce47318',
					image: '//via.placeholder.com/180?text=39',
					url: '#',
					title: 'Dorsey White',
					description:
						'Velit id labore culpa veniam labore elit amet sunt nostrud.',
					date: '2019/04/12 01:38:38',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef758ce4d1828565d9d',
					image: '//via.placeholder.com/180?text=310',
					url: '#',
					title: 'Vance Levine',
					description:
						'Non consectetur Lorem sunt non ad ad commodo occaecat labore elit est aliqua.',
					date: '2019/03/09 07:54:19',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef7902307077b80d570',
					image: '//via.placeholder.com/180?text=311',
					url: '#',
					title: 'Gwendolyn Booker',
					description:
						'Non adipisicing nostrud irure sit ea dolor laborum aliquip velit.',
					date: '2019/03/08 10:00:52',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				}
			]
		}
	}
}
</script>
