<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Text Colors</h2>
				</div>
				<div class="content">
					<p class="text-primary">Text class color = ".text-primary"</p>
					<p class="text-secondary">Text class color = ".text-secondary"</p>
					<p class="text-warning">Text class color = ".text-warning"</p>
					<p class="text-danger">Text class color = ".text-danger"</p>
					<p class="text-black">Text class color = ".text-black"</p>
					<p class="text-light-grey">Text class color = ".text-light-grey"</p>
					<p class="text-white">Text class color = ".text-white"</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-primary"</span>&gt;</span>Text class color = <span class="hljs-string">".text-primary"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-secondary"</span>&gt;</span>Text class color = <span class="hljs-string">".text-secondary"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-warning"</span>&gt;</span>Text class color = <span class="hljs-string">".text-warning"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-danger"</span>&gt;</span>Text class color = <span class="hljs-string">".text-danger"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-black"</span>&gt;</span>Text class color = <span class="hljs-string">".text-black"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-light-grey"</span>&gt;</span>Text class color = <span class="hljs-string">".text-light-grey"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;<span class="hljs-attr">class</span>=<span class="hljs-string">"text-white"</span>&gt;</span>Text class color = <span class="hljs-string">".text-white"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
				</div>
				<hr />
				<div class="title">
					<h2>Background Colors</h2>
				</div>
				<div class="content">
					<p class="bg-primary">Text class color = ".text-primary"</p>
					<p class="bg-secondary">Text class color = ".text-secondary"</p>
					<p class="bg-warning">Text class color = ".text-warning"</p>
					<p class="bg-danger">Text class color = ".text-danger"</p>
					<p class="bg-black">Text class color = ".text-black"</p>
					<p class="bg-light-grey">Text class color = ".text-light-grey"</p>
					<p class="bg-white">Text class color = ".text-white"</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span><span class="hljs-attr"> class</span>=<span class="hljs-string">"bg-primary"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-primary"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span><span class="hljs-attr"> class</span>=<span class="hljs-string">"bg-secondary"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-secondary"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span><span class="hljs-attr"> class</span>=<span class="hljs-string">"bg-warning"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-warning"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span><span class="hljs-attr"> class</span>=<span class="hljs-string">"bg-danger"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-danger"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span><span class="hljs-attr"> class</span>=<span class="hljs-string">"bg-black"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-black"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-light-grey"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-light-grey"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white"</span>&gt;</span>Text class color = <span class="hljs-string">".bg-white"</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
				</div>
				<hr />
				<div class="title">
					<h2>Black Tones</h2>
				</div>
				<div class="content">
					<p class="text-black10">
						Black tone = ".text-black10" ($black10)
						<span class="bg-black10">___</span>
					</p>
					<p class="text-black20">
						Black tone = ".text-black20" ($black20)
						<span class="bg-black20">___</span>
					</p>
					<p class="text-black30">
						Black tone = ".text-black30" ($black30)
						<span class="bg-black30">___</span>
					</p>
					<p class="text-black40">
						Black tone = ".text-black40" ($black40)
						<span class="bg-black40">___</span>
					</p>
					<p class="text-black50">
						Black tone = ".text-black50" ($black50)
						<span class="bg-black50">___</span>
					</p>
					<p class="text-black60">
						Black tone = ".text-black60" ($black60)
						<span class="bg-black60">___</span>
					</p>
					<p class="text-black70">
						Black tone = ".text-black70" ($black70)
						<span class="bg-black70">___</span>
					</p>
					<p class="text-black80">
						Black tone = ".text-black80" ($black80)
						<span class="bg-black80">___</span>
					</p>
					<p class="text-black90">
						Black tone = ".text-black90" ($black90)
						<span class="bg-black90">___</span>
					</p>
					<p class="text-black">
						Black tone = ".text-black" ($black)<span class="bg-black">___</span>
					</p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span><span class="hljs-attr"> class</span>=<span class="hljs-string">"text-black10"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black10"</span> ($black10)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black20"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black20"</span> ($black20)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black30"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black30"</span> ($black30)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black40"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black40"</span> ($black40)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black50"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black50"</span> ($black50)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black60"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black60"</span> ($black60)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black70"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black70"</span> ($black70)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black80"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black80"</span> ($black80)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black90"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black90"</span> ($black90)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;p <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black"</span>&gt;</span>Black tone = <span class="hljs-string">".text-black"</span> ($black)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code>
				</pre>
				</div>
				<hr />
				<div class="title">
					<h2>Link Colors</h2>
				</div>
				<div class="content">
					<p>
						Link color =
						<a class="link-primary" href="#">".link-primary"</a> (<a href="#"
							>Default link color</a
						>)
					</p>
					<p>
						Link color =
						<a class="link-secondary" href="#">".link-secondary"</a>
					</p>
					<p>
						Link color = <a class="link-warning" href="#">".link-warning"</a>
					</p>
					<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>
					<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
					<p>
						Link color =
						<a class="link-light-grey" href="#">".link-light-grey"</a>
					</p>
					<p>Link color = <a class="link-white" href="#">".link-white"</a></p>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-primary"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-primary"</span> (<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Default link color<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>)<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-secondary"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-secondary"</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-warning"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-warning"</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-danger"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-danger"</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-black"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-black"</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;a <span class="hljs-attr">class</span>=<span class="hljs-string">"link-light-grey"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-light-grey"</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;a <span class="hljs-attr">class</span>=<span class="hljs-string">"link-white"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link color = <span class="hljs-string">".link-white"</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
</code>
				</pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'ColorsPage',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Colors'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Colors',
				description: 'Colors page'
			}
		})
	}
}
</script>
