<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Form</h2>
				</div>
				<div class="content">
					<form action="">
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Text Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									v-model="formData.username"
									class="form-input"
									type="text"
									name="text"
									placeholder="Text"
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Full Width Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									v-model="formData.username"
									class="form-input form-input--block"
									type="text"
									name="fullwidth"
									placeholder="Full Width Input"
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Password Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									class="form-input"
									type="password"
									name="password"
									placeholder="Password"
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Email Address
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									class="form-input"
									type="email"
									name="email"
									placeholder="Email"
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Number Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									class="form-input"
									type="number"
									name="number"
									placeholder="Number"
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Single File Input (Full Width)
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									id="singleFile"
									class="form-input js-file-input"
									type="file"
									name="file"
								/>
								<label class="flex form-file-label" for="singleFile">
									<div
										class="js-file-name form-file-input form-input--block"
									></div>
									<div class="btn--primary ml-4">Browse</div>
								</label>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Multiple File Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									id="multipleFile"
									class="form-input js-file-input"
									type="file"
									name="file"
									multiple
								/>
								<label class="flex form-file-label" for="multipleFile">
									<div class="js-file-name form-file-input"></div>
									<div class="btn--primary ml-4">Browse</div>
								</label>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Textarea Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<textarea
									class="form-input"
									name="textarea"
									placeholder="Text Area"
								></textarea>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Disabled Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									class="form-input"
									type="text"
									name="disabled"
									placeholder="Disabled"
									disabled
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Read-only Input
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									class="form-input"
									type="text"
									name="readonly"
									placeholder="Read-only"
									readonly
								/>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Dropdown Select
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<select class="form-input" name="dropdown">
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
									<option value="3">Option 3</option>
								</select>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">
								Radio Buttons
							</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<div class="form-check-group">
									<label class="form-check__item" for="rbOption1"
										><input id="rbOption1" type="radio" name="radio" /> Option
										1</label
									>
									<label class="form-check__item" for="rbOption2"
										><input id="rbOption2" type="radio" name="radio" /> Option
										2</label
									>
									<label class="form-check__item" for="rbOption3"
										><input id="rbOption3" type="radio" name="radio" /> Option
										3</label
									>
								</div>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<div class="form-check-group">
									<label class="form-check__item" for="cbOption1"
										><input
											id="cbOption1"
											type="checkbox"
											name="checkbox"
											checked
										/>
										Option 1</label
									>
									<label class="form-check__item" for="cbOption2"
										><input id="cbOption2" type="checkbox" name="checkbox" />
										Option 2</label
									>
									<label class="form-check__item" for="cbOption3"
										><input
											id="cbOption3"
											type="checkbox"
											name="checkbox"
											checked
										/>
										Option 3</label
									>
								</div>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
								<button class="btn btn--primary" type="submit">Submit</button>
								<button class="btn btn--ghost-secondary" type="reset">
									Cancel
								</button>
							</div>
						</div>
					</form>
					<code class="shell hljs">
						&lt;figure class="media"&gt;<br />
						&nbsp;&nbsp;&lt;div class="media-figure"&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;img src="... alt="" width="64px"
						/&gt;<br />
						&nbsp;&nbsp;&lt;/div&gt;<br />
						&nbsp;&nbsp;&lt;div class="media-content"&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Aperiam incidunt tempora ratione sapiente,
						nesciunt consectetur officiis commodi soluta. Sit sapiente veritatis
						non quia vitae, facilis nam rerum, reprehenderit modi. Fugiat?<br />
						&nbsp;&nbsp;&lt;/div&gt;<br />
						&lt;/figure&gt;
					</code>
				</div>
				<div class="title">
					<h2>Form Validation</h2>
				</div>
				<div class="content">
					<form action="" class="js-validate" @submit.prevent="submitForm()">
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									v-model="formData.username"
									class="form-input"
									:class="{
										'error-border':
											!$v.formData.username.required && formTouchedUsername
									}"
									type="text"
									name="username"
									placeholder="Username"
									@input="formTouchedUsername = true"
								/>
								<div
									v-if="formTouchedUsername && !$v.formData.username.required"
									class="form-error"
								>
									Username is required
								</div>
								<div
									v-if="formTouchedUsername && !isUsernameValid"
									class="form-error"
								>
									Username must be between 4 and 100 characters
								</div>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									v-model="formData.email"
									class="form-input"
									:class="{
										'error-border':
											!$v.formData.email.required && formTouchedEmail
									}"
									type="email"
									name="email"
									placeholder="Email"
									@input="formTouchedEmail = true"
								/>
								<div
									v-if="formTouchedEmail && !$v.formData.email.required"
									class="form-error"
								>
									Email is required
								</div>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<input
									v-model.trim="$v.formData.birthdate.$model"
									class="form-input datepicker-here js-date"
									:class="{ 'error-border': !$v.formData.birthdate.required }"
									type="date"
									name="birthdate"
									placeholder="Birthdate"
									@input="formTouchedBirthdate = true"
								/>
								<div
									v-if="!$v.formData.birthdate.required && formTouchedBirthdate"
									class="form-error"
								>
									Birthdate is required
								</div>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<div class="form-check-group">
									<label class="form-check__item" for="gender1"
										><input
											id="gender1"
											v-model="formData.gender"
											value="male"
											type="radio"
											name="gender"
											@input="formTouchedGender = true"
										/>
										Male</label
									>
									<label class="form-check__item" for="gender2"
										><input
											id="gender2"
											v-model="formData.gender"
											value="female"
											type="radio"
											name="gender"
											@input="formTouchedGender = true"
										/>
										Female</label
									>
								</div>
								<div
									v-if="!$v.formData.gender.required && formTouchedGender"
									class="form-error"
								>
									Gender is required
								</div>
							</div>
						</div>
						<div class="bzg mb-24">
							<div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
							<div class="bzg_c" data-col="s12,m8,l8">
								<div class="form-check-group form-input--block">
									<label class="form-check__item" for="hobby1"
										><input
											id="hobby1"
											v-model="formData.hobby"
											type="checkbox"
											name="hobby"
											value="Reading"
											@input="formTouchedHobby = true"
										/>
										Reading</label
									>
									<label class="form-check__item" for="hobby2"
										><input
											id="hobby2"
											v-model="formData.hobby"
											type="checkbox"
											name="hobby"
											value="Writing"
										/>
										Writing</label
									>
									<label class="form-check__item" for="hobby3"
										><input
											id="hobby3"
											v-model="formData.hobby"
											type="checkbox"
											name="hobby"
											value="Running"
										/>
										Running</label
									>
									<label
										class="form-check__item"
										for="hobby4"
										data-invalid="Custom Error Message"
										><input
											id="hobby4"
											v-model="formData.hobby"
											type="checkbox"
											name="hobby"
											value="Swimming"
										/>
										Swimming</label
									>
									<div
										v-if="!$v.formData.hobby.required && formTouchedHobby"
										class="form-error"
									>
										Please select at least one hobby
									</div>
								</div>
							</div>
						</div>
						<div class="bzg mb-12">
							<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
								<button class="btn btn--primary" type="submit">Submit</button>
							</div>
						</div>
					</form>
					<code class="shell hljs">
						&lt;figure class="media"&gt;<br />
						&nbsp;&nbsp;&lt;div class="media-figure"&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;img src="... alt="" width="150px"
						/&gt;<br />
						&nbsp;&nbsp;&lt;/div&gt;<br />
						&nbsp;&nbsp;&lt;div class="media-content"&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;h4 class="media-title
						text-primary"&gt;Title&lt;/h4&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet,
						consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fugiat nulla pariatur. Excepteur
						sint occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id est laborum.<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;/p&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0"&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;button class="btn--primary
						btn--small btn--icon mr-8"&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="fas
						fa-thumbs-up"&gt;&lt;/i&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/button&gt;<br />
						&nbsp;&nbsp;&nb sp;&nbsp;&nbsp;&nbsp;&lt;a href="#"&gt;Visit
						somewhere...&lt;/a&gt;<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&lt;/p&gt;<br />
						&nbsp;&nbsp;&lt;/div&gt;<br />
						&lt;/figure&gt;
					</code>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
	name: 'FormPage',
	data() {
		return {
			formData: {
				username: '',
				email: '',
				birthdate: '',
				hobby: [],
				gender: ''
			},
			formTouchedUsername: false,
			formTouchedEmail: false,
			formTouchedBirthdate: false,
			formTouchedHobby: false,
			formTouchedGender: false
		}
	},
	validations: {
		formData: {
			username: {
				minLength: minLength(4),
				maxLength: maxLength(100),
				required
			},
			email: {
				required,
				minLength: minLength(4),
				maxLength: maxLength(100),
				email
			},
			birthdate: {
				required
			},
			gender: {
				required
			},
			hobby: {
				required
			}
		}
	},
	computed: {
		isUsernameValid() {
			return (
				this.formData.username.length >=
					this.$v.formData.username.$params.minLength.min &&
				this.formData.username.length <=
					this.$v.formData.username.$params.maxLength.max
			)
		}
	},
	methods: {
		submitForm() {
			if (!this.$v.formData.$invalid) {
				alert('Form is valid')
			} else if (this.$v.formData.$invalid) {
				alert('Form is invalid')
				if (this.formData.username === '') {
					this.formTouchedUsername = true
				}
				if (this.formData.email === '') {
					this.formTouchedEmail = true
				}
				if (this.formData.birthdate === '') {
					this.formTouchedBirthdate = true
				}
				if (this.formData.hobby.length === 0) {
					this.formTouchedHobby = true
				}
				if (this.formData.gender === '') {
					this.formTouchedGender = true
				}
			}
		},
		isFormValid() {
			return (
				this.$v.formData.username.$dirty && this.$v.formData.username.$invalid
			)
		}
	}
}
</script>

<style lang="scss" scoped>
.media-content {
	flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	min-width: 0;
}

.form-error {
	color: #f0210b;
}

.error-border {
	border-color: #f0210b;
}

.container-main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0 auto;
	padding: 20px;
	width: 60%;
}

.bzg {
	margin-left: -25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	&:after {
		display: table;
		clear: both;
		content: '';
	}

	&__column {
		float: left;
		min-height: 1px;
		padding-left: 25px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		&[data-col*='l4'] {
			width: 33.33333%;
		}

		&[data-col*='m4'] {
			width: 33.33333%;
		}

		&[data-col*='s12'] {
			width: 100%;
		}

		&[data-col*='s1'] {
			width: 8.33333%;
		}

		&[data-col*='l8'] {
			width: 66.66667%;
		}

		&[data-col*='m8'] {
			@media screen and (min-width: 48em) {
				width: 66.66667%;
			}
		}
	}
}

.form-label {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: right;

	@media #{$custom} {
		text-align: left;
	}
}

.form-file-input {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	min-width: 12.225em;
}

.form-file-input + .btn,
.form-file-input + .btn--suitmedia,
.form-file-input + .btn--ghost-suitmedia,
.form-file-input + .btn--flat-suitmedia,
.form-file-input + .btn--primary,
.form-file-input + .btn--ghost-primary,
.form-file-input + .btn--flat-primary,
.form-file-input + .btn--secondary,
.form-file-input + .btn--ghost-secondary,
.form-file-input + .btn--flat-secondary,
.form-file-input + .btn--warning,
.form-file-input + .btn--ghost-warning,
.form-file-input + .btn--flat-warning,
.form-file-input + .btn--danger,
.form-file-input + .btn--ghost-danger,
.form-file-input + .btn--flat-danger,
.form-file-input + .btn--black,
.form-file-input + .btn--ghost-black,
.form-file-input + .btn--flat-black,
.form-file-input + .btn--light-grey,
.form-file-input + .btn--ghost-light-grey,
.form-file-input + .btn--flat-light-grey,
.form-file-input + .btn--white,
.form-file-input + .btn--ghost-white,
.form-file-input + .btn--flat-white,
.form-file-input + .btn--black10,
.form-file-input + .btn--black20,
.form-file-input + .btn--black30,
.form-file-input + .btn--black40,
.form-file-input + .btn--black50,
.form-file-input + .btn--black60,
.form-file-input + .btn--black70,
.form-file-input + .btn--black80,
.form-file-input + .btn--black90 {
	padding: 6px 8px;
	pointer-events: all;
}

.form-input,
.form-file-input {
	padding: 6px 8px;
	border: solid 1px #ccc;
	border-radius: 2px;
	font-family: inherit;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.form-input--block {
	width: 100%;
}
.form-check-group {
	padding: 7px 8px;
}

.form-check-group.form-input--block .form-check__item {
	display: block;
	width: 100%;
}

.btn {
	border-radius: 0px;
}

.btn--primary {
	color: #fff;
	background: #0094ed;
	border-color: #0094ed;
	border-radius: 0px;
}

.btn--primary:hover,
.btn--primary:focus {
	color: #fff;
	background: #21acff;
}

.btn--ghost-secondary:hover,
.btn--ghost-secondary:focus {
	color: #fff;
	background: #76848c;
}

.btn--ghost-secondary {
	background: transparent;
	border-color: #76848c;
	color: #76848c;
}

.btn,
.btn--suitmedia,
.btn--ghost-suitmedia,
.btn--flat-suitmedia,
.btn--primary,
.btn--ghost-primary,
.btn--flat-primary,
.btn--secondary,
.btn--ghost-secondary,
.btn--flat-secondary,
.btn--warning,
.btn--ghost-warning,
.btn--flat-warning,
.btn--danger,
.btn--ghost-danger,
.btn--flat-danger,
.btn--black,
.btn--ghost-black,
.btn--flat-black,
.btn--light-grey,
.btn--ghost-light-grey,
.btn--flat-light-grey,
.btn--white,
.btn--ghost-white,
.btn--flat-white,
.btn--black10,
.btn--black20,
.btn--black30,
.btn--black40,
.btn--black50,
.btn--black60,
.btn--black70,
.btn--black80,
.btn--black90 {
	display: inline-block;
	padding: 8px 24px;
	border: 1px solid;
	font-family: inherit;
	line-height: 1.6;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-file-input + .btn[data-v-146bde86],
.form-file-input + .btn--suitmedia[data-v-146bde86],
.form-file-input + .btn--ghost-suitmedia[data-v-146bde86],
.form-file-input + .btn--flat-suitmedia[data-v-146bde86],
.form-file-input + .btn--primary[data-v-146bde86],
.form-file-input + .btn--ghost-primary[data-v-146bde86],
.form-file-input + .btn--flat-primary[data-v-146bde86],
.form-file-input + .btn--secondary[data-v-146bde86],
.form-file-input + .btn--ghost-secondary[data-v-146bde86],
.form-file-input + .btn--flat-secondary[data-v-146bde86],
.form-file-input + .btn--warning[data-v-146bde86],
.form-file-input + .btn--ghost-warning[data-v-146bde86],
.form-file-input + .btn--flat-warning[data-v-146bde86],
.form-file-input + .btn--danger[data-v-146bde86],
.form-file-input + .btn--ghost-danger[data-v-146bde86],
.form-file-input + .btn--flat-danger[data-v-146bde86],
.form-file-input + .btn--black[data-v-146bde86],
.form-file-input + .btn--ghost-black[data-v-146bde86],
.form-file-input + .btn--flat-black[data-v-146bde86],
.form-file-input + .btn--light-grey[data-v-146bde86],
.form-file-input + .btn--ghost-light-grey[data-v-146bde86],
.form-file-input + .btn--flat-light-grey[data-v-146bde86],
.form-file-input + .btn--white[data-v-146bde86],
.form-file-input + .btn--ghost-white[data-v-146bde86],
.form-file-input + .btn--flat-white[data-v-146bde86],
.form-file-input + .btn--black10[data-v-146bde86],
.form-file-input + .btn--black20[data-v-146bde86],
.form-file-input + .btn--black30[data-v-146bde86],
.form-file-input + .btn--black40[data-v-146bde86],
.form-file-input + .btn--black50[data-v-146bde86],
.form-file-input + .btn--black60[data-v-146bde86],
.form-file-input + .btn--black70[data-v-146bde86],
.form-file-input + .btn--black80[data-v-146bde86],
.form-file-input + .btn--black90[data-v-146bde86] {
	padding: 6px 8px;
	pointer-events: all;
}

.form-check-group .form-check__item {
	position: relative;
	margin-right: 10px;
}

.form-input[type='file'] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

figure {
	margin: 0 0 1.6em 0;
}

.media {
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

// pre {
// 	margin: 0;
// 	height: fit-content;
// }
</style>
