<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Environment</h2>
				</div>
				<div class="content">
					<ul>
						<li>
							<p>
								NodeJS versi 8 ke atas. Node harus di-install sebelum
								meng-install lainnya.
							</p>
						</li>
						<a href="#">Install</a>
						|
						<a href="#">Dokumentasi</a>
					</ul>
					<ul>
						<li>
							<p>Yeoman. Jalankan perintah di bawah di command prompt.</p>
						</li>
						<code class="shell hljs">npm i -g yo</code>
					</ul>
					<ul>
						<li><p>Gulp. Jalankan perintah di bawah di command prompt.</p></li>
						<code class="shell hljs">npm i -g gulp-cli</code>
					</ul>
					<ul>
						<li><p>Git</p></li>
						<a href="#">Install</a>
						|
						<a href="#">Pro Git (PDF)</a>
					</ul>
					<ul>
						<li><p>XAMPP</p></li>
						<a href="#">Install</a>
					</ul>
					<ul>
						<li><p>Generator Baze</p></li>
						<p>
							Install generator baze dengan menjalankan perintah di bawah ini.
						</p>

						<code class="shell hljs">npm install generator-baze -g</code>

						<p>Untuk install ke dalam project frontend, jalankan</p>

						<code class="shell hljs">yo baze</code>
					</ul>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started'
			})
		}
	},

	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Get Started',
				description: 'Get Started page'
			}
		})
	}
}
</script>
