<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Default Grid</h2>
				</div>
				<div class="content">
					<div class="bzg">
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
					</div>
					<div class="bzg">
						<div class="bzg_c" data-col="m4">
							<div class="text-center bg-primary text-white">bzg_c m4</div>
						</div>
						<div class="bzg_c" data-col="m4">
							<div class="text-center bg-primary text-white">bzg_c m4</div>
						</div>
						<div class="bzg_c" data-col="m4">
							<div class="text-center bg-primary text-white">bzg_c m4</div>
						</div>
					</div>
					<pre>
	<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
					</pre>
					<hr />
				</div>
				<div class="title">
					<h2>No-Gutter Grid</h2>
				</div>
				<div class="content">
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
						<div class="bzg_c" data-col="m1">
							<div class="text-center bg-primary text-white">bzg_c m1</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
						<div class="bzg_c" data-col="m3">
							<div class="text-center bg-primary text-white">bzg_c m3</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m4">
							<div class="text-center bg-primary text-white">bzg_c m4</div>
						</div>
						<div class="bzg_c" data-col="m4">
							<div class="text-center bg-primary text-white">bzg_c m4</div>
						</div>
						<div class="bzg_c" data-col="m4">
							<div class="text-center bg-primary text-white">bzg_c m4</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m6">
							<div class="text-center bg-primary text-white">bzg_c m6</div>
						</div>
						<div class="bzg_c" data-col="m6">
							<div class="text-center bg-primary text-white">bzg_c m6</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m7">
							<div class="text-center bg-primary text-white">bzg_c m7</div>
						</div>
						<div class="bzg_c" data-col="m5">
							<div class="text-center bg-primary text-white">bzg_c m5</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m12">
							<div class="text-center bg-primary text-white">bzg_c m12</div>
						</div>
					</div>
					<pre>
	<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
					</pre>
					<hr />
				</div>
				<div class="title">
					<h2>Grid with Offset</h2>
				</div>
				<div class="content">
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m2">
							<div class="text-center bg-primary text-white">bzg_c m2</div>
						</div>
						<div class="bzg_c" data-col="m5" data-offset="m5">
							<div class="text-center bg-primary text-white">
								bzg_c m5 offset=m5
							</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m3" data-offset="m3">
							<div class="text-center bg-primary text-white">
								bzg_c m3 offset=m3
							</div>
						</div>
						<div class="bzg_c" data-col="m3" data-offset="m3">
							<div class="text-center bg-primary text-white">
								bzg_c m3 offset=m3
							</div>
						</div>
					</div>
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="m6" data-offset="m3">
							<div class="text-center bg-primary text-white">
								bzg_c m6 offset=m3
							</div>
						</div>
					</div>
				</div>
				<pre>
	<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">&quot;m5&quot;</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">&quot;m5&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;bzg_c&quot;</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m5 offset=m5<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">&quot;m3&quot;</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">&quot;m3&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;bzg_c&quot;</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m3 offset=m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">&quot;m3&quot;</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">&quot;m3&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;bzg_c&quot;</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m3 offset=m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">&quot;m6&quot;</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">&quot;m3&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;bzg_c&quot;</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c m6 offset=m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
				</pre>
				<hr />
				<div class="title">
					<h2>Responsive Grid</h2>
				</div>
				<div class="content">
					<div class="bzg bzg--no-gutter">
						<div class="bzg_c" data-col="s12,m9,l6">
							<div class="text-center bg-primary text-white">
								bzg_c s12,m9,l6
							</div>
						</div>
						<div class="bzg_c" data-col="s6,m3,l6">
							<div class="text-center bg-primary text-white">
								bzg_c s6,m3,l6
							</div>
						</div>
					</div>
				</div>
				<pre>
	<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">&quot;s12,m9,l6&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;bzg_c&quot;</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c s12,m9,l6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">&quot;s6,m3,l6&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;bzg_c&quot;</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text-center bg-primary text-white&quot;</span>&gt;</span>bzg_c s6,m3,l6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
				</pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'GridPage'
}
</script>

<style lang="scss" scoped>
.bzg {
	margin-left: -25px;
	box-sizing: border-box;

	&--no-gutter {
		@media screen and (min-width: 48em) {
			margin-left: 0;
		}
	}

	&:after {
		display: table;
		clear: both;
		content: '';
	}

	&_c {
		float: left;
		width: 100%;
		min-height: 1px;
		padding-left: 25px;
		box-sizing: border-box;
		border: 1px solid white;

		&[data-col*='s'] {
			width: 8.33333%;
		}

		&[data-col*='s6'] {
			width: 50%;
		}

		&[data-col*='s12'] {
			width: 100%;
		}

		@media screen and (min-width: 48em) {
			padding-left: 0;
			&[data-col*='m'] {
				margin-left: 0;
			}

			&[data-col*='m3'] {
				width: 25%;
			}

			&[data-col*='m4'] {
				width: 33.33333%;
			}

			&[data-col*='m1'] {
				width: 8.33333%;
			}

			&[data-col*='m2'] {
				width: 16.66667%;
			}

			&[data-col*='m6'] {
				width: 50%;
			}

			&[data-col*='m5'] {
				width: 41.66667%;
			}

			&[data-col*='m7'] {
				width: 58.33333%;
			}

			&[data-col*='m12'] {
				width: 100%;
			}

			&[data-offset*='m3'] {
				margin-left: 25%;
			}

			&[data-offset*='m5'] {
				margin-left: 41.66667%;
			}

			&[data-col*='m9'] {
				width: 75%;
			}

			&[data-col*='l6'] {
				width: 50%;
			}

			&[data-col*='l'] {
				margin-left: 0;
			}
		}
	}
}

// Background Colors
.bg-primary {
	background-color: #0094ed;
}
</style>
