<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Heading</h2>
				</div>
				<div class="content">
					<h1>Heading1</h1>
					<h2>Heading2</h2>
					<h3>Heading3</h3>
					<h4>Heading4</h4>
					<h5>Heading5</h5>
					<h6>Heading6</h6>
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Heading1<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Heading2<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Heading3<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Heading4<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Heading5<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">h6</span>&gt;</span>Heading6<span class="hljs-tag">&lt;/<span class="hljs-name">h6</span>&gt;</span>
	</code></pre>
					<hr />
				</div>
				<div class="title">
					<h2>Heading Styles</h2>
				</div>
				<div class="content">
					<p class="h1">Text size adjust h1</p>
					<p class="h2">Text size adjust h2</p>
					<p class="h3">Text size adjust h3</p>
					<p class="h4">Text size adjust h4</p>
					<p class="h5">Text size adjust h5</p>
					<p class="h6">Text size adjust h6</p>
					<pre>
	<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h1"</span>&gt;</span>Text size adjust h1<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h2"</span>&gt;</span>Text size adjust h2<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h3"</span>&gt;</span>Text size adjust h3<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h4"</span>&gt;</span>Text size adjust h4<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h5"</span>&gt;</span>Text size adjust h5<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h6"</span>&gt;</span>Text size adjust h6<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
	</code></pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'HeadingsPage',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Headings'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Headings',
				description: 'Headings page'
			}
		})
	}
}
</script>
