<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Lists</h2>
				</div>
				<div class="content">
					<h5>Ordered List</h5>
					<ol>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ol type="a">
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ol>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ol>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ol</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>id facere,
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">ol</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"a"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>molestiae in,<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">ol</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>dignissimos sequi illum doloremque.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ol</span>&gt;</span>
</code>
				</pre>
					<hr />
					<h5>Unordered List</h5>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ul>
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ul>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ul>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>id facere,
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>molestiae in,<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>dignissimos sequi illum doloremque.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
</code>
				</pre>
					<hr />
					<h5>Inline List</h5>
					<ol class="list-inline">
						<li>Lorem ></li>
						<li>Ipsum ></li>
						<li>Dolor</li>
					</ol>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ol</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"list-inline"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Lorem &gt;<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Ipsum &gt;<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Dolor<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ol</span>&gt;</span>
</code>
				</pre>
					<hr />
					<h5>No Style List</h5>
					<ul class="list-nostyle">
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ul>
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ul>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ul>
					<pre>
<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"list-nostyle"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>id facere,
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>molestiae in,<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>dignissimos sequi illum doloremque.<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
</code>
				</pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'ListsPage',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Lists'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Lists',
				description: 'Lists page'
			}
		})
	}
}
</script>
