<template>
	<div class="blank-layout">
		<div class="navbar">
			<nav>
				<div class="navbar">
					<img src="~assets/img/site-logo.png" alt="" width="60" />
					<h1>Baze UI</h1>
				</div>
			</nav>
		</div>

		<div class="main">
			<div class="center">
				<img
					src="~assets/img/site-logo.png"
					alt=""
					class="center-logo"
					width="125"
					height="125"
				/>
				<p class="h3 mb-36">A minimal setup for your frontend Environment</p>
				<div class="buttons">
					<a href="/get-started">
						<button class="btn get-started">Get Started</button>
					</a>
					<button class="btn download">Download</button>
				</div>
			</div>
		</div>

		<div class="footer">Version 2.20.0 | Powered by: Suitmedia.com</div>
	</div>
</template>

<script>
export default {
	name: 'SplashScreen',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.blank-layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	background-color: #555555;
	color: white;
	z-index: 999;
}

// flex: 0;
//     display: flex;
//     /* justify-content: center; */
//     /* height: 100%; */
//     top: 50%;
//     /* left: 50%; */
//     transform: translateY(-50%);
//     position: absolute;
//     align-items: center;

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 10px;
}

.center p {
	text-align: center;
	font-family: monospace;
}

.navbar h1 {
	font-size: 24px;
	margin: 0;
}

.main {
	flex: 0;
	display: flex;
	/* justify-content: center; */
	/* height: 100%; */
	top: 50%;
	/* left: 50%; */
	transform: translateY(-50%);
	position: absolute;
	align-items: center;
}

.center-logo {
	max-width: 200px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

.slogan {
	font-size: 24px;
	margin-bottom: 10px;
}

.buttons {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.btn {
	display: inline-block;
	padding: 8px 24px;
	line-height: 1.6;
	text-transform: uppercase;
	margin: 0 10px;
	font-size: 16px;
}

.get-started {
	border: 1px solid #ff6700;
	background-color: #ff6700;
	border-color: #ff6700;
	color: #fff;
}

.download {
	border: 1px solid #fff;
	background-color: transparent;
	color: #ffffff;
}

.footer {
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
}
</style>
