<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Table</h2>
				</div>
				<div class="content">
					<div class="table-wrapper">
						<table class="table">
							<thead>
								<tr>
									<th>Header 1</th>
									<th>Header 2</th>
									<th>Header 3</th>
									<th>Header 4</th>
									<th>Header 5</th>
									<th>Header 6</th>
									<th>Header 7</th>
									<th>Header 8</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Row 2 Col 1</td>
									<td>Row 2 Col 2</td>
									<td>Row 2 Col 3</td>
									<td>Row 2 Col 4</td>
									<td>Row 2 Col 5</td>
									<td>Row 2 Col 6</td>
									<td>Row 2 Col 7</td>
									<td>Row 2 Col 8</td>
								</tr>
								<tr>
									<td>Row 3 Col 1</td>
									<td>Row 3 Col 2</td>
									<td>Row 3 Col 3</td>
									<td>Row 3 Col 4</td>
									<td>Row 3 Col 5</td>
									<td>Row 3 Col 6</td>
									<td>Row 3 Col 7</td>
									<td>Row 3 Col 8</td>
								</tr>
								<tr>
									<td>Change</td>
									<td>Window</td>
									<td>size</td>
									<td>to see</td>
									<td>Table</td>
									<td>Wrapper</td>
									<td>in</td>
									<td>action!</td>
								</tr>
							</tbody>
						</table>
					</div>
					<pre>
	<code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table-wrapper"</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table"</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">thead</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 1<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 2<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 3<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 4<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 5<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 6<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 7<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Header 8<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">tbody</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 1<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 2<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 3<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 4<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 5<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 6<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 7<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Row 2 Col 8<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
	&nbsp;&nbsp;&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
	&nbsp;&nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	</code></pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'TablePage'
}
</script>
