<template>
	<main class="site-main">
		<div class="container-main">
			<div class="container-content">
				<div class="title">
					<h2>Tabs</h2>
				</div>
				<div class="content">
					<ul class="tabs__bar js-tabs">
						<li
							class="tabs__nav js-tabs-link"
							:class="{ 'is-active': activeTabIndex === 0 }"
							data-control="#item1"
							@click="activeTabIndex = 0"
						>
							TAB 1
						</li>
						<li
							class="tabs__nav js-tabs-link"
							:class="{ 'is-active': activeTabIndex === 1 }"
							data-control="#item2"
							@click="activeTabIndex = 1"
						>
							TAB 2
						</li>
						<li
							class="tabs__nav js-tabs-link"
							:class="{ 'is-active': activeTabIndex === 2 }"
							data-control="#item3"
							@click="activeTabIndex = 2"
						>
							TAB 3
						</li>
						<li
							class="tabs__nav js-tabs-link"
							:class="{ 'is-active': activeTabIndex === 3 }"
							data-control="#item4"
							@click="activeTabIndex = 3"
						>
							TAB 4
						</li>
					</ul>
					<div class="tabs__content">
						<div
							id="item1"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeTabIndex === 0 }"
						>
							Item 1
						</div>
						<div
							id="item2"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeTabIndex === 1 }"
						>
							Item 2
						</div>
						<div
							id="item3"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeTabIndex === 2 }"
						>
							Item 3
						</div>
						<div
							id="item4"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeTabIndex === 3 }"
						>
							Item 4
						</div>
					</div>
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar js-tabs"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item1"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item2"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item3"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item4"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item1"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item2"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item3"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item4"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>
				</div>
				<div class="title">
					<h2>Justified Tabs</h2>
				</div>
				<div class="content">
					<ul class="tabs__bar--justify js-tabs">
						<li
							class="tabs__nav js-tabs-link"
							:class="{ 'is-active': activeJustifyTabIndex === 0 }"
							data-control="#justified1"
							@click="activeJustifyTabIndex = 0"
						>
							TAB 1
						</li>
						<li
							class="tabs__nav js-tabs-link"
							:class="{ 'is-active': activeJustifyTabIndex === 1 }"
							data-control="#justified2"
							@click="activeJustifyTabIndex = 1"
						>
							TAB 2
						</li>
						<li
							class="tabs__nav js-tabs-link"
							data-control="#justified3"
							:class="{ 'is-active': activeJustifyTabIndex === 2 }"
							@click="activeJustifyTabIndex = 2"
						>
							TAB 3
						</li>
						<li
							class="tabs__nav js-tabs-link"
							data-control="#justified4"
							:class="{ 'is-active': activeJustifyTabIndex === 3 }"
							@click="activeJustifyTabIndex = 3"
						>
							TAB 4
						</li>
					</ul>
					<div class="tabs__content">
						<div
							id="justified1"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeJustifyTabIndex === 0 }"
						>
							Item 1
						</div>
						<div
							id="justified2"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeJustifyTabIndex === 1 }"
						>
							Item 2
						</div>
						<div
							id="justified3"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeJustifyTabIndex === 2 }"
						>
							Item 3
						</div>
						<div
							id="justified4"
							class="tabs__item js-tabs-item"
							:class="{ 'is-active': activeJustifyTabIndex === 3 }"
						>
							Item 4
						</div>
					</div>
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar--justify js-tabs"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified1"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified2"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified3"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified4"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified1"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified2"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified3"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
&nbsp;&nbsp;<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified4"</span>&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Item 4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'TabsPage',
	data() {
		return {
			activeTabIndex: 0,
			activeJustifyTabIndex: 0
		}
	}
}
</script>

<style lang="scss" scoped>
.tabs__bar {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	background: transparent;
	overflow: auto;
	white-space: nowrap;

	.tabs__nav {
		display: inline-block;
		padding: 5px 20px;
		cursor: pointer;
		text-align: center;

		&.is-active {
			background-color: #fff;
			border-bottom: 2px solid #0094ed;
			color: #0094ed;
		}
	}
}

.tabs__bar--justify {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	background: transparent;
	overflow: auto;
	white-space: nowrap;

	.tabs__nav {
		display: inline-block;
		padding: 5px 20px;
		cursor: pointer;
		text-align: center;
		flex: auto;

		&.is-active {
			background-color: #fff;
			border-bottom: 2px solid #0094ed;
			color: #0094ed;
		}
	}
}

.tabs__content {
	.tabs__item {
		display: none;

		&.is-active {
			display: block;
		}
	}
}

.tabs__bar--justify {
	display: flex;
	justify-content: space-around;
}

.tabs__bar .tabs__nav.is-active,
.tabs__bar--justify .tabs__nav.is-active {
	border-bottom: 2px solid #0094ed;
	color: #0094ed;
}
</style>
